﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Package details.aspx.cs" Inherits="assignment1._1.Package_details" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
 <style>
.btn-black {
    background-color: #ea4c88;
     margin : 10px;
  padding : 15px;
  width : 10%;
   font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
} 
.btn-secondary {
  background-color: #ea4c88;
  margin : 10px;
  padding : 15px;
  width : 10%;
  font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
}
        body {
        min-height: 150vh;
        }
        .form-control {
        margin-block-start : 5px;
        padding : 5px;
        border-radius: 5px;
        }
     .auto-style1 {
         margin-left: 1160px;
     }
    </style>
</head>
<body style="background-color:#2c3338;">
    <form id="form1" runat="server">
        <div>
           <h2>Starter Package</h2> 
          
            Starter Package gives you the the usual courier service system options and gives you a 10% off on total amount to be paid 
            <br />
          <h2> Intermediate Package</h2> 
            Intermediate Package gives you the the usual courier service system and few more added services which will be given and gives you a 15% off on total amount to be paid 
            <br />
          <h2>Premium Package</h2>  
            Premium Package gives you the the usual courier service system and few more added services which will be given and seasonal offers and much more advantages gives you a  20% off on total amount to be paid 
            <br />
            <br />
            <br />
            <br />
&nbsp;&nbsp;&nbsp; 
        </div>
        <div class="auto-style1">
            <asp:Button ID="btnBck" class="btn btn-secondary" runat="server" Text="BACK" OnClick="btnBck_Click" Width="102px" />
        </div>
    </form>
</body>
</html>
